<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <div class="col-md-5 hidden-xs">
      <%= image_tag 'image_iPhoneX.png', alt: 'app_image', class: 'app-image' %>
    </div>
    <div class="col-md-5 container-signin">
      <h2>instagram clone</h2>
      <%= render 'shared/login_form' %>
    </div>
    <div class="col-md-offset-5 col-md-5 container-login">
      <span>アカウントをお持ちですか？</span>
      <%= link_to "ログイン", login_path %>
    </div>
  </div>
</div>
