<% provide(:title, "Edit user") %>
<% provide(:button_text, '変更を保存する') %>

<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/login_form' %>

    <div class="avatar_edit">
      <%= image_tag 'avatar.png', alt: @user.name, class: "avatar" %>
      <a href="#">change</a>
    </div>
  </div>
</div>
