@import "bootstrap-sprockets";
@import "bootstrap";


/* new */

.new-post-title {
  margin-bottom: 50px;
}

#post_content {
  height: 100px;
}

.confirm-content-photo {
  margin-bottom: 30px;
  img {
  width: 100%;
  }
}
.confirm-content-text {
  font-size: 1.2em;
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #eaeaea;

}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    background-color: #ffffff;
    padding: 0px;
    border: 1px solid #e8e8e8;
    margin-bottom: 20px;
  }
  .post-header {
    height: 50px;
    padding: 15px 10px;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content-photo img {
    width: 100%;
  }
  .content-text {
    padding: 15px 10px;
  }
  .content {
    display: block;
    margin-top: 50px;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
      margin-bottom: 20px;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-top: 20px;
    padding-left: 10px;
  }
  .avatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
